<div class="container cv-container">
<div class="row">
    <div class="col-lg-4 col-md-6 col-xs-12">

        <app-section title="Summary" [icon]="summaryIcon">
            A tech lover with curiousity for all things. Love to learn new skills everyday. 
            A team player as well. <br>
        </app-section>

        <app-section title="Professional skills" [icon]="workExperienceIcon">
            <app-life-period dateText="" place="" position="Objective">
                <ul>
                <li>A fast learner</li>
                
                
                    <li>To be an expert in my area of work, with passion for challenges, innovation and working with people and communities.</li>

                     <li>  Seeking a role, where I will be able to apply my skills, work experience in project management by making a difference through quality, with strict adherence in achieving the organizational goals.</li>   </ul>
            </app-life-period>
            <app-section title="Internship" [icon]="workExperienceIcon">                <ul>
                    <li>Working on front end Development</li>
                    <li>Tech being used:HTML,CSS,Javascipt, AngularJS</li>
                </ul>
            </app-section>
            <app-life-period   position="Development Lead/Manager">
                <ul>
                    <li>Built out a new team in Dublin</li>
                    <li>Responsible for setting technical direction and best practices, while being a 'hands on' developer</li>
                    <li>Managed team of 6 developers, including one in the UK</li>
                    <li>Working directly with our clients in treasury to build solutions to improve the banks management of its  assets</li>
                    <li>Built a system to fund the thousands of external bank accounts held by the investment bank. 
                        These were based on projections of cash needs formed from a realtime stream of messages from trading systems (millions+/hr)
                        This system moved USD17t (trillion) in 2019</li>
                    <li>Successfully completed, deployed and supported many projects, including ones in the areas of internal loan pricing, loan requesting, regulatory submissions, trade entry and more</li>
                    <li>Developed the first machine learning algorithm used in the bank's treasury department</li>
                    <li>Tech used: Angular, Python, Java, SQL (MS and Oracle), Kafka and more</li>
                </ul>
            </app-life-period>
            <app-life-period  position="Python/Full Stack Developer">
                <ul>
                    <li>Building out a wide variety of solutions for the Treasury Front Office, working directly with key 
                        stakeholders </li>
                    <li>Working on a full stack basis, with Angular, Python with Oracle & NOSQL DBs</li>
                    <li>Working on a team split</li>
                </ul>
            </app-life-period>
         
        </app-section>
    </div>
    <div class="col-lg-4 col-md-6 col-xs-12">
        <app-section title="Skills" [icon]="skillsIcon">
            <strong>Major Tech Skills</strong>
            <ul>
                <li>Python</li>
                <li>Java</li>
                <li>Angular/Typescript/Javascript</li>
                <li>Tensorflow & Keras</li>
                <li>Apache Kafka</li>
                <li>SQL (Oracle/MySQL/MS SQL Server/PostgreSQL)</li>
                <li>AWS (certified)</li>
            </ul><br>
            <strong>Other Tech Skills</strong>
            <div>
                <span>
                    <i>Python-related:</i> Injector, Flask, Jinja, Pytest, Requests, Pip, Pyramid, SQLalchemy, Cornice, Colandar<br> 
                    <i>Web:</i> HTML 5, CSS, SCSS, REST,  jQuery, Selenium, DevExtreme, Bootstrap, Material, Swagger<br> 
                    <i>Java-related:</i> Spring, Hibernate, Tomcat, JPA, Hikari, Hazelcast, H2, Avro<br>
                    <i>Machine Learning:</i> Pandas, Jupyter, numPy, scikit-learn <br> 
                    <i>Tooling:</i> GIT, Jenkins, Serverless, Unix scripting, Perl, Splunk, ITRS geneos, AppDynamics, Datadog<br> 
                    <i>Other:</i> VB.NET
                </span>
            </div> <br>
            <strong>Soft Skills</strong>
            <ul>
                <li>Time management</li>
                <li>Teamwork</li>
                <li>Active listening</li>
                <li>Adaptability</li>
                <li>Experimenting</li>
            </ul>
        </app-section>
        <app-section title="Education" [icon]="educationIcon">
            
                <b>10th</b><ul><li>SDM English medium school ,Ujire</li>
                <li>Board:CBSE(Batch -2017)</li> 
            <li>10 CGPA</li></ul>
            <b>12th</b><ul><li>Expert PU college,Ujire</li>
                <li>Board:KSEEB(Batch -2019)</li> 
            <li>87.16%</li></ul>     
                       <div class="row">
                    
                   
                </div>
          
                <app-section title="Degree" [icon]="educationIcon">
                <ul>
                    <li>BE</li>
                    <li>Branch-Information Science</li>
                    <li>CGPA 9.1</li>
                </ul>
         </app-section>
        </app-section>
    </div>
    <div class="col-lg-4 col-md-6 col-xs-12">
        <app-section title="Side Projects" [icon]="sideProjectIcon">
            See <a href="https://github.com/ahanarai">my GitHub</a> for:
            <ul>
                <li><a href="https://github.com/paulharte/autobrew">Spam email detector</a>: says whetehr spam or ham</li>
                <li><a href="https://github.com/paulharte/football_team_picker">Javafx temp converter</a>: converts the temperature in various units like kelvin,celsius.</li>
                <li><a href="https://github.com/paulharte/angular-cv">Airline management</a>: made using DBMS concepts</li>
            </ul>
        </app-section>
        <app-section title="Hobbies" [icon]="interestingIcon">
            <ul>
                <li>Listening to music</li>
                <li>Collecting coins</li>
                <li>Reading</li>
            </ul>
        </app-section>

    </div>
</div>
</div>